.benefits {
    padding: 70px 0;
    min-height: 470px;
    background: #F6F6F6;
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

    }
    &__item {

        text-align: center;
        width: 270px;
        padding-right: 30px;
        &:last-child {
            padding-right: 0px;
        }
    }
    &__text {
        margin-top: 35px;

        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;

    }
    &__subtext {
        margin-top: 20px;

        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            text-decoration-line: underline;
            color: $main-color;
        }
    }
}