.slider {
    width: 100%;
    max-height: 580px + 81px + 81px;

    box-sizing: border-box;
    padding: 81px 0px ;
    &_block {
        // height: 580px;
        position: relative;
        width: 100%;
        margin-top:50px;
        display:flex;
        // flex-direction:column;
        align-items:center;
    }
    &_next {
        right: 0;

        position: absolute;
        padding-right: 20px;
        cursor:pointer;
    }
    &_prev {
        left: 0;
        position: absolute;
        padding-left: 20px;

        // margin-right:10px;
        cursor: pointer;
    }
    &_wrapper {
        
        width:100%;
        margin: 0 66px;
        // box-shadow:0 4px 30px rgba(0,0,0,.25);
    }
    &_inner {
        // display: flex;
        // align-items: flex-end;
    }
    &_slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        // height:750px;
        img {
            
            width:100%;
            // height:100%;
            object-fit:cover;
        }

    }
}

// .offer__slider{width:650px;margin-top:50px;display:flex;flex-direction:column;align-items:flex-end}
// .offer__slider-wrapper{width:100%;margin-top:15px;box-shadow:0 4px 30px rgba(0,0,0,.25)}
// .offer__slider-prev{margin-right:10px;cursor:pointer}
// .offer__slider-next{margin-left:10px;cursor:pointer}
// .offer__slide{width:100%;height:390px}
// .offer__slide img{width:100%;height:100%;object-fit:cover}